{% extends 'base.html' %}
{% block title %}
| Grupo Golden Sat |
{% endblock %}

{% include 'components/_header.html' %}
{% block content %}
<style>
    .card-status {
        position: relative;
        transition: transform 0.3s ease;
        width: 21rem; /* Adiciona uma transição suave */
    }

    .card-status.Aprovado {
        background: linear-gradient(to bottom, #a0f0a0 0%, #ffffff 100%); /* Gradiente verde claro para branco */
    }

    .card-status.Reprovado {
        background: linear-gradient(to bottom, #f0a0a0 0%, #ffffff 100%); /* Gradiente vermelho claro para branco */
    }

    .card-status.Pendente {
        background: linear-gradient(to bottom, #d0d0d0 0%, #ffffff 100%); /* Gradiente cinza claro para branco */
    }

    .card-status.Configurado {
        background: linear-gradient(to bottom, #ffd580 0%, #ffffff 100%); /* Gradiente laranja claro para branco */
    }

    .card-status.Reprovado-pelo-CEO {
        background: linear-gradient(to bottom, #f08080 0%, #ffffff 100%); /* Gradiente vermelho claro para branco */
    }

    .card-status.Aprovado-pelo-CEO {
        background: linear-gradient(to bottom, #80f080 0%, #ffffff 100%); /* Gradiente verde claro para branco */
    }

    .card-status.Reprovado-pela-Diretoria {
        background: linear-gradient(to bottom, #f08080 0%, #ffffff 100%); /* Gradiente vermelho claro para branco */
    }

    .card-status.Aprovado-pela-Diretoria {
        background: linear-gradient(to bottom, #80f080 0%, #ffffff 100%); /* Gradiente verde claro para branco */
    }

    .card-status.Expedido {
        background: linear-gradient(to bottom, #ffb380 0%, #ffffff 100%); /* Gradiente laranja escuro claro para branco */
    }

    .card-status.Enviado-para-o-Cliente {
        background: linear-gradient(to bottom, #80b3ff 0%, #ffffff 100%); /* Gradiente azul claro para branco */
    }

    .card-status.Aprovado-Inteligencia {
        background: linear-gradient(to bottom, #80f080 0%, #ffffff 100%); /* Gradiente verde claro para branco */
    }

    .card-body {
        padding: 30px; /* Adiciona um espaço interno de 30px */
    }

    .card-status:hover {
        transform: scale(1.05); /* Faz o card crescer um pouco */
    }
</style>
<div class="row">
    {% for item in ceo_list %}
    <div class="col-md-4 mb-4">
        <div class="card card-status {% if item.status == 'Aprovado' %}Aprovado{% elif item.status == 'Reprovado' %}Reprovado{% elif item.status == 'Configurado' %}Configurado{% elif item.status == 'Pendente' %}Pendente{% elif item.status == 'Expedido' %}Expedido{% elif item.status == 'Reprovado pelo CEO' %}Reprovado-pelo-CEO{% elif item.status == 'Aprovado pelo CEO' %}Aprovado-pelo-CEO{% elif item.status == 'Reprovado pela Diretoria' %}Reprovado-pela-Diretoria{% elif item.status == 'Aprovado pela Diretoria' %}Aprovado-pela-Diretoria{% endif %}">
            <div class="card-body">
                <h2>Requisição</h2>
                <h5 class="card-title">{{ item.nome }}</h5>
                <p class="card-text"><b>ID</b>: {{ item.id }}</p>
                <p class="card-text"><b>CNPJ</b>: {{ item.cnpj }}</p>
                <p class="card-text"><b>Valor Total</b>: {{ item.valor_total}}</p>
                <p class="card-text"><b>Valor Unitarios</b>: {{ item.valor_unitario}}</p>
                <p class="card-text"><b>Comercial</b>: {{ item.comercial }}</p>
                <p class="card-text"><b>Tipo de Produto</b>: {{ item.tipo_produto }}</p>
                <p class="card-text"><b>Observações</b>: {{ item.observacoes }}</p>
                <p class="card-text"><b>Status</b>: {{ item.status }}</p>
                <p class="card-text"><b>TP</b>: {{ item.TP }}</p>
                <!-- Outros detalhes do card -->
                {% if perms.qualit.view_qualit %}
                {% if item.id %}
    <a class="btn btn-primary" href="{% url 'ceodetailview' item.id %}">Visualizar</a>
    <a class="btn btn-success" href="{% url 'aprovar_ceo' item.id %}">Aprovar</a>
    <a class="btn btn-danger" href="{% url 'reprovar_ceo' item.id %}">Reprovar</a>
{% else %}
    <span class="text-muted">ID não disponível</span>
{% endif %}
                
                
               
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<!-- Fim da seção de exibição dos registros -->

<!-- Inclui o componente de paginação. -->
{% include 'components/_pagination.html' %}
{% endblock %}
