{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <h3 class="display-4"> Criar Entrada</h3>

    <div class="card">
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary"> Salvar Entrada</button>
            </form>
        </div>
    </div>
    <a href="{% url 'FormulariosCreateView' %}" class="btn btn-secondary mt-3"> Cancelar e Voltar</a>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    document.addEventListener("keydown", function(e) {
        if (e.key === "Enter") {
            e.preventDefault(); // Bloqueia a tecla Enter
        }
    });

    document.addEventListener("input", function(e) {
        var input = e.target;
        var value = input.value;
        var patterns = ["35154", "35642", "86590", "86325"];
        
        patterns.forEach(function(pattern) {
            while (value.includes(pattern)) {
                console.log("Padrão detectado: " + pattern); // Log para depuração
                value = value.replace(pattern, "   "); // Substitui o padrão por ";"
                console.log("Valor depois de substituir o padrão: " + value); // Log para depuração
            }
        });
        
        input.value = value; // Atualiza o valor do campo de entrada
    });
</script>
{% endblock %}