

{% extends 'base.html'%}

{% block content %}

<body>
    
        <div class="container">
            <h1>Grupo Golden Sat</h1>
        </div>
    </header>

    <div class="container mt-4">
        <h2>Bem-vindo(a)
             <p>{{user.username}}</p></h2>
        <p></p>
    </div>

    <div>

<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

        <div class="row">
            <div class="col-sm-8 mb-3 mb-sm-0">
              <div class="card">
                <div class="card-body">
                    <h5 class="card-title" >AVISOS</h5>
                  
                        <p>Olá, {{user.username}}!</p>

                           <p> O setor de Inteligencia gostaria de apresentar a vocês o nosso novo Sistema de Gerenciamento Empresarial (SGE).</p>
                           <p> Este sistema foi desenvolvido para facilitar e otimizar a gestão das nossas operações, proporcionando uma série de funcionalidades
                           que vão nos ajudar no dia a dia.      
                              .Att Setor de Inteligencia GRUPO GOLDEN SAT
                           
                </div>
              </div>
            </div>

            <br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

    </div>
    <footer class="bg-dark text-white text-center p-3 mt-4">
        <p>&copy; 2024 Grupo Golden Sat. Todos os direitos reservados.</p>
    </footer>

    <!-- Inclua o jQuery, Popper.js e Bootstrap JS no final do body -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

{% endblock %}